@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto+Flex:opsz,wght@8..144,100&display=swap');

:root {
  --background-color: linear-gradient(
    222deg,
    rgba(18, 38, 38, 1) 18%,
    rgba(0, 31, 30, 1) 100%
  );
  --add-task-background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
  --add-btn-color: #006155;
  --add-btn-hover: #00ac97;
  --add-input-background: rgba(0, 0, 0, 0.2);
  --list-btn-color: #ff7d6a;
  --list-btn-hover: #ff6827;
}

.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Roboto Flex', sans-serif;
  height: auto;
}

.taskmanager {
  height: 100dvh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background-color);
}

.taskmanager__h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  height: 3.5rem;
  padding: 0 1rem;
  border-radius: 10px;
  color: floralwhite;
}

.add__task__form {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 22rem;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background: var(--add-task-background);
}

.add__task__input {
  border: none;
  height: 2rem;
  flex-grow: 1;
  border-radius: 2px;
  padding: 0 5px;
  background-color: var(--add-input-background);
  color: aliceblue;
}

.add__task__input::placeholder {
  color: aliceblue;
}

.add__task__input:focus {
  color: aliceblue;
  outline: unset;
}

.add__task__btn {
  height: 2.5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: var(--add-btn-color);
  transition-property: all;
  transition-duration: 0.3s;
}

.add__task__btn:hover {
  background-color: var(--add-btn-hover);
  border: none;
}

.add__icon {
  font-size: 1.2rem;
}

.task__ul {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: auto;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100vw;
  background-color: var(--add-btn-color);
}

.task__li {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  padding: 1rem;
  min-width: 30rem;
  border-bottom: 1px solid #909090;
}

.delete__task__btn {
  background-color: var(--list-btn-color);
  transition-property: all;
  transition-duration: 0.3s;
  margin-right: 0.5rem;
}

.delete__task__btn:hover {
  background-color: var(--list-btn-hover);
  border-color: var(--list-btn-hover);
}

.delete__icon {
  font-size: 1.2rem;
}

.edit__btn {
  background-color: var(--list-btn-color);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  margin-right: 0.5rem;
}

.edit__btn:hover {
  background-color: var(--list-btn-hover);
  border-color: var(--list-btn-hover);
}

.edit__icon {
  font-size: 1.2rem;
}

.task__box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.task {
  border: none;
  background-color: unset;
  outline: none;
}
